<mat-toolbar color="black">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button> -->

  <a href="https://www.linkedin.com/in/andreea-valentina-andrei/" style="color: black;">
    <mat-icon>terrain</mat-icon>  </a>&nbsp;My Imprint


  <span class="example-spacer"></span>
  <button
    mat-button
    matTooltip="Back to home page."
    matTooltipPosition="above"
    aria-label="Button that displays a tooltip when focused or hovered over"
    routerLink="/home"
  >
    <mat-icon> home</mat-icon>
    Home
  </button>

  <button mat-button routerLink="/contact">
    <mat-icon>feedback</mat-icon>
    Contact&Feedback
  </button>
</mat-toolbar>
