<div class="slider">
  <div class="wrapper">
      <img src="assets/images/products/buy1.jpg">
      <img src="assets/images/products/buy2.jpg">
      <img src="assets/images/products/buy3.jpg">
      <img src="assets/images/products/buy4.jpg">

  </div>
</div>

<div class="container">
  <div class="item">
      <p>
          <b style="color:black;margin-left:20% ; font-size:37px">
              {{title}}
              </b>
             <br><br>
              <b style="color:black;margin-left:20% ; font-size:37px">
              {{subtitle}}
            </b>

      </p>
       <br><br>
      <p style="color:black;margin-left:20%;font-size:16px">
          <b>
              My Imprint is a worldwide company
               that provides a very large number of products<br> like cups, t-shirts, phone cases, agendas, invitations
                and many more to be bought or personalized.
                <br>Be part of our world and find the perfect product for yourself.
               <br> Log in for more!
          </b>

      </p>

      <br><br>
    <button mat-flat-button style="margin-left:20%" routerLink="/login">Login</button>
    <button mat-flat-button style="margin-left:20%" routerLink="/register">Register</button>
  </div>
</div>
