<!-- <br><br><br>
<b style="color:black;margin-left:45% ; font-size:32.5px" [style.color]="color">
  {{title}}

</b> -->

<br /><br />

  <div id="two">
    <b style="color: black; font-size: 37px">
      <p>
        <mat-icon style="transform: scale(1.5)"> terrain </mat-icon> My Imprint
      </p>
    </b>
    <div class="box" style="font-size: 37px">
      <ul>
        <b>
          <li class="item-1">Unique</li>
          <li class="item-2">Design</li>
          <li class="item-3">Personalize</li>
        </b>
      </ul>
    </div>
  </div>

<br />
<div class="description">
  <div>
    <b>
      Been there. Done that. Designed this. Personalized that.</b
    >
  </div>
  <br>
  <div>
    <b>
      At least once in their lives, everyone has thought about personalizing a
      specific item and how unique and nice it would look like.
    </b>
  </div>
  <div>
    <b> <br />MyImprint is here to help. </b>
  </div>
  <div>
    <b>
      <br />Our company has the power to bring all the sketches and designs you
      have to reality.
    </b>
  </div>
</div>


<div class="mainChoices">
  <!-- see produts -->
  <div class="imagewrap">
    <div class="thumbnail">
      <img
        src="assets/images/shop.jpg"
        style="display: inline-block; border-radius: 20px"
      />
    </div>
    <input
      type="button"
      class="button1 ig-btn"
      style="font-size: 11px"
      routerLink="/shop"
      value="Shop"
    />
  </div>

  <div class="makeChoice">
    <div>
      <p><b>Decide whether you want to shop or design an item.</b></p>
    </div>
    <div>
      <p>
        <br /><b
          >&#8592; Select the right option for you and start exploring the
          alternatives we put up. &#8594;</b
        >
      </p>
    </div>
    <div>
      <p><br /><b>Exceptional designs. Amazing Clients.</b></p>
    </div>
  </div>

  <!-- personalize products -->
  <div class="imagewrap">
    <div class="thumbnail">
      <img
        src="assets/images/design.jpg"
        style="display: inline-block; border-radius: 20px"
      />
    </div>
    <input
      type="button"
      class="button1 ig-btn"
      routerLink="/design"
      style="font-size: 11px"
      value="Design"
    />
  </div>
</div>
<br />
<!-- <div style="margin-left:16%;font-size:18px;margin-bottom:1%"><b>
    For any further questions please contact us. If your experience with us was a pleasant one or our site needs
    improve,
    please complete the feedback formular below. Thank you! </b><br><br>
</div>

<button mat-flat-button style="margin-left:45%;margin-bottom:3%;color:rgb(0, 0, 0)"
  routerLink="/contact-feedback">Contact & Feedback<mat-icon>chevron_right</mat-icon></button> -->
